*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: Poppins;
    background-color: white;
}

/*--- header area ---*/
header{
    background-color: rgba(248, 227, 227, 0.829);
    padding:20px 35px;   
}
.manu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 180px;
    height: 30px;
    

}
.menu{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    text-align: center;
    padding-right: 120px;
    align-items: center;
}


.banner-container{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;  
    align-items: center;
    
}
h1{
    font-size: 45px;
}
.banner-description{
    margin-top: 40px;
    font-size: normal;
}
.btn{
    width: 120px;
    height: 35px;
    background-color: #f17878;
    border: none;
    margin-top: 25px;
    border-radius: 8px;

}
.banner-img{
    size: 25px;
    height: 780px;
}
.featuted-section{
    padding: 180px;
}
.featured-container{
    text-align: center;
    max-height: 100vh;
}
h2{
    font-size: 25px;
    padding-bottom: 18px;
    
}
.featured-img{
    display: flex;
    justify-content: space-between;
    padding-top:45px ;
    background-image: cover;
    gap: 4px; 
       
}
.feat-img-1{
    background-color: rgba(206, 159, 186, 0.616);
    box-sizing: border-box;
    border-radius: 45% 45% 0 0;
    background-attachment: fixed;
    height: 400px;
    width: 300px;
    align-items: center;
    background-position: overlay;
    
    
    
}
.feat-img-2{
    background-color: rgba(147, 180, 180, 0.459);
    box-sizing: border-box;
    border-radius: 45% 45% 0 0;
    background-attachment: fixed;
    height: 400px;
    width: 300px;
    align-items: center;
    background-position: overlay;
    
}
.feat-img-3{
    background-color: rgba(192, 189, 191, 0.616);
    box-sizing: border-box;
    border-radius: 45% 45% 0 0;
    background-attachment: fixed;
    height: 400px;
    width: 300px;
    align-items: center;
    background-position: overlay;
}
.feat-box{
    border-top: 50%;
    width: auto;
    height: auto;
   
}

h5{
    text-align: center;
    margin-top: 18px;
}
.extra{
    background-color: rgba(252, 127, 127, 0.829);
    padding:20px 35px; 
}
.extra-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    
}
.extra-img{
    width: 400px;
    height: 500px;
    border-radius: 14px;


}
.extra-list{
    font-size: 18px;
}
.list{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    border-radius: 50px;

}
i{
    color: white;
}
h3{
    font-size: 75px;
    padding-right: 18px;
}
.group-container{
    
    padding: 18px 22px 18px 22px;
    background-color: rgb(231, 231, 230);
    box-sizing: border-box;
    margin: 180px;
}
.group{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.grp{
    align-items: center;
}
.grp-img{
    padding-right: 80px;
    padding-left: 80px;
}
